.coding {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    min-height: 100vh;
}

.projectGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
