.header_container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 5px;
    overflow: hidden;
    width: 100%;
    background-color: #83c5c034;
    z-index: 1;
}

/* .header_logo {
    align-items: center;
    justify-content: center;
    display: flex;
    img {
        height: 40px;
    }
    a {
        margin: 0;
    }    
} */

.header_left {
    align-items: center;
    display: flex;
    flex: 1;
}

#tech {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
#tech:hover {
    opacity: 50%;
}

#art {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

#art:hover {
    opacity: 50%;
}

#abt {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

#abt:hover {
    opacity: 50%;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    img {
        height: 40px;
    }
    img:hover {
        opacity: 50%;
    }
}

#linkedin {
    margin-right: 15px;
}