.studio-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.frames {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}