.content {
  font-family: 'Playfair Display', serif;
  /* font-family, font-style, background-color */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  /* font-weight, color */
}

h2{
  font-size: 45px;
  /* font size, font-weight, color */
}

h3{
  font-size: 35px;
  /* font size, font-weight, color */
}

h4 {
  font-size: 30px;
  /* font size, font-weight, color */
}

h5 {
  font-size: 20px;
  /* font size, font-weight, color */
}

h6 {
  font-size: 15px;
  /* font size, font-weight, color */
}